.alert-box 
{
	color:#555;
	border-radius:20px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:40px 100px;
	margin:10px;
}

.symbol 
{
	font-size: 0.9em;
	font-family: Times New Roman;
	border-radius: 1em;
	padding: .1em .6em .1em .6em;
	font-weight: bolder;
	color: white;
	background-color: #4E5A56;
}


.icon-excl { background: #ffd54b; color: black; }
.icon-err { background: red; color: black; }

.icon-excl:before { content: '!'; }
.icon-err:before { content: '!'; }
.icon-acc:before { content: ':)'; }

.notify
{
	background-color:#e3f7fc; 
	color:#555; 
    border:.1em solid;
	border-color: #8ed9f6;
    border-radius: 10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.1em;
    padding:10px 10px 10px 10px;
    margin:70px;
    cursor: default;
}

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: pink; border-color: #f7deae; }
.notify-green { background: green; border-color: #f7deae; }

 
.obligatoire
{
	color :red;
}

.required {color:red;}

{
	margin: 0;
}
#pied
{
	height: 10%;
	margin-top: -10px;
}

table
{
    border-collapse: collapse;
	background-color:lightgrey;
	text-align: center;
}

td/* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
	text-align: center;
	width: 150px;
	height: 25px;
	font-weight: italic;

}

th
{
	font-weight: bold;
	border: 1px solid black;
    background-color: #D8D8D8;
	 text-align: center;
	 width: 150px;
	height: 25px;
}

p
{
font-size: 120%;
}
